.pending{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
}

.pending.active{
    display: block;
}

.pending__image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
